

div#header
  if(user)
    a(href="#!")
      span#title canvas
    a#authLink(href="#!")= user.username 
  else
    a(href="#!")
      span#title canvas
    a#authLink(href="#!") Login/Signup
  if (info.length !== 0)
    p= info

div#nav
  if(user)
    span.active wall
    span edit wall
  else
    span.active wall
