extends layout

block content

  canvas#map
  div#loginForm.hide
  div#toolBar.hide
    input(type="image" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-refresh-128.png" width="20px")
    input(type="color" id="colInp" name="color")
    select
      option(value="draw") draw
      option(value="text") text
    input(type="button" value="post")

