doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title canvas
    link(rel="stylesheet", type="text/css", href="/main.css")


  body
    div#header
      if(user)
        a(href="/wall")
          span#title canvas
        a#authLink(href="#!", onclick="processAuthLink(event)")= user.username 
      else
        a(href="/wall")
          span#title canvas
        a#authLink(href="#!", onclick="processAuthLink(event)") Login/Signup
    div#nav
      if(user)
        span.active Wall
        span edit Wall
      else
        span.active Wall



    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script.
       var user = !{JSON.stringify(user)};
    script(src="/client.js")