doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="main.css")

    title GeoMsg

  body
      div.login
        div
          form(action="/signup", method="post")
            div
              input.inputlogin(type="text", name="username", placeholder="username")
            div
              input.inputlogin(type="password", name="password", placeholder="password")
            div
              input.inputlogin(type="password", name="pwverify" placeholder="password")
            p
            input.createacct(type="submit", value="Create Acct", class="btn btn-default")
