

doctype html
html(lang="en" ng-app)
  head
    meta(charset="utf-8")
    title canvas
    link(rel="stylesheet", type="text/css", href="/main.css")


  body
    include partials/heading.jade
    include partials/authform.jade
    div#backSetting
      for img in imgs
        img(src=img)
    if(user)
      include partials/toolbar.jade
    

        


    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js")
    script(src="/client.js")