
body { 
  margin: 0; 
  background: #f1f1f1;
}


#header {
  padding: 30px;
  background: grey;
}

#header span {
  color: white;
  font-size: 28px;
}

#header p {
  float: right;
  margin: -5px 45px;
  padding: 12px 25px;
  font-family: Arial;
  background: yellow;
  opacity: 0.4;
}

#header a:nth-child(2) {
  float: right;
}

#backSetting {
  position: absolute;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%);
  box-shadow: 0px 1px 6px #a8a8a8;
  background: white;
  z-index: 1;
  cursor: default;
  overflow: hidden;
}

#draftLayer {
  position: absolute;
  left: 50%;
  margin-top: 40px;
  transform: translate(-50%);
  z-index: 2;
  cursor: default;
  overflow: hidden;
}

#backSetting img {
  /*Add this above for when looping pictures in jade and stack imgs not combined one img*/
  position: absolute;
  top: 0px;
  /*Add this above for when looping pictures in jade and stack imgs not combined one img*/
  display: block;
  width:100%;
  height:100%;
}

#overlay{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  background: black;
  z-index: 3;
  opacity: 0.8;
}

#loginBlock {
  position: absolute;
  top: 70px;
  right:0px;
  width:240px;
  height:200px;
  background: darkgrey;
  z-index: 4;
}

#loginBlock div {
  margin: 10px;
}

#loginBlock input {
  height: 15px;
  margin: 5px;
}

#loginBlock span {
  display: inline-block;
  width:80px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  cursor: default;
}

#loginBlock a {
  display: block;
  height: 25px;
  width: 80px;
  margin: 85px auto;
  padding-left: 26px;
  font-size: 18px;
  border: 2px dashed black;
}

#loginBlock .active {
  border: 2px dashed black;
}

#nav {
  margin: 15px 30px;
  /*padding: 10px;*/
  width: 190px;
  height:40px;
  background: grey;
}

#nav span {
  display: inline-block;
  font-size: 20px;
  width: 70px;
  margin: 5px 10px;
  text-align: center;
  cursor: default;
}

#nav .active {
  border: 2px dashed black;
}

#toolBar {
  width: 60px;
  margin-top: 70px;
  background: grey;
  z-index: -2;
}

#toolBar div {
  display: block;
  border: 1px solid black;
  margin: auto;
}

#toolBar [type=text] {
  cursor: move;
}

#toolBar [type=image] {
  width: 20px;
}

#toolBar input {
  display: block;
  margin: 10px auto;
  outline: none;
  cursor: default;
}

#toolBar select {
  display: block;
  margin: 10px auto;
  outline: none;
  cursor: default;
}


#toolBar.hide {
  display: none;
}

.dot {
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background: black;
  z-index: 2;
}

.hide {
  display: none;
}

@media (max-width:1100px) {
  #toolBar {
    margin: -15px 30px;
    width: 190px;
    height:40px;
    display: table;
  }
  #toolBar div {
    display: inline-block;
    border: none;
    display: table-cell;
    vertical-align: middle;
  }
  #toolBar input {
    margin-top: 0;
  }
  #toolBar select {
    margin-top: 0;
  }
}

@media (max-width:250px) {
  #nav {
    margin: 15px auto;
  }
  #toolBar {
    margin: -15px auto;
  }
}
